<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>Amaranth</string>
    <key>CFBundleDisplayName</key>
    <string>Amaranth</string>
    <key>CFBundleIdentifier</key>
    <string>so.kel.Amaranth</string>
    <key>CFBundleVersion</key>
    <string>$(CURRENT_PROJECT_VERSION)</string>
    <key>CFBundleShortVersionString</key>
    <string>$(MARKETING_VERSION)</string>
    <key>GitCommit</key>
    <string>$(GIT_COMMIT)</string>
    <key>SUPublicEDKey</key>
    <string>iLglJG/gPdXQ/QKeMA7e1N/bUFqJSgAYBfW6RlS23fs=</string>
    <key>SUFeedURL</key>
    <string>https://zaius.github.io/amaranth/appcast.xml</string>
    <key>SUEnableAutomaticChecks</key>
    <true/>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleExecutable</key>
    <string>Amaranth</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>LSMinimumSystemVersion</key>
    <string>26.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>Amaranth uses Bluetooth to control your Aputure amaran lights over Bluetooth Mesh.</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2026 David Kelso. All rights reserved.</string>
</dict>
</plist>
